body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    font-family: 'Poppins', serif;
}
/************************Header has started***********************/
.headersection {
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    background-position: center;
}
.header-box {
    width: 40%;
    margin-top: 73px;
    float: left;
    margin-left: 4%;
}
.header-box img {
    width: 100%;
}
.header {
    margin: 141px 0px 0px 150px;
}
.header h1 {
    font-weight: bolder;
    font-size: 35px;
    color: rgb(247, 49, 99);
    padding: 0px;
    margin-top: -20px;
    margin-bottom: -10px;
}
.header p {
    text-align: justify;
    font-size: 13px;
    padding-bottom: 14px;
}
.button {
    margin-top: 6px;

}
.button a {
    text-decoration: none;
    padding: 5px 20px;
    background-color:  rgb(247, 49, 99);
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
.button a:hover {
    text-decoration: none;
    padding: 5px 20px;
    background-color: #494949;
    color:white;
    font-weight: bold;
}
.header-photp {
    margin-top: 34px;
}
/************************Header has ended***********************/
/************************Biography has started***********************/
.biography {
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    margin-bottom: 100px;
}
.bio-box {
    width: 40%;
    float: left;
    margin-left:100px;

}
.bio-photo {
    margin-top: 100px;
}
.bio-photo img {
    width: 100%;
    
}
.bio-text {
    margin-top: 250px;

}
.bio-text p {
    text-align: justify;
    padding-bottom: 10px;
}
.cv-buttpon a {
    text-decoration: none;
    padding: 5px 40px;
    background-color:  rgb(247, 49, 99);
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
.cv-buttpon a:hover {
    text-decoration: none;
    padding: 5px 40px;
    background-color: #494949;
    color:white;
    font-weight: bold;
}
.work-section {
    background-image: url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    background-position: center;
}
.work-section h1 {
    text-align: center;
    font-size: 40px;
}
#img-container {
    padding-left: 100px;
    padding-right: 40px;
}
.latest-work {
    padding-top: 50px;
    width: 28%;
    float: left;
    height: 300px;
    padding-left: 30px;
    
    
}
.latest-work img {
    width: 100%;
}
/******************** Client area has started***************************/
.client-description {
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}
.client {

    text-align: center;
}
.client h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
}
.client-opinion {
    width: 30%;
    margin: auto;
    text-align: center;
}
small {
    color: gray;
}
.contact-part {
    border-radius: 5px;
    width: 40%;
    text-align: center;
    margin: auto;
    padding: 10px 30px 10px 30px;
    background-color: #FF1772;
}
.contact-part p {
    padding: 12px 0px 0px 0px;
    margin-bottom: -10px;
    color: white;
}
.contact-part  h3 {
    padding-bottom: 10px;
    color: white;
    font-size: 25px;
    font-weight: normal;
}
footer {
    text-align: center;
    font-weight: 500;
    padding-top: 5px;
}